#include "resource.h"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "ShellTabs"
            VALUE "FileDescription", "Shell Tabs Explorer Deskband"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "ShellTabs"
            VALUE "OriginalFilename", "ShellTabs.dll"
            VALUE "ProductName", "Shell Tabs"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

STRINGTABLE
BEGIN
    IDS_PROJNAME "Shell Tabs"
    IDS_OPTIONS_PAGE_GENERAL "General"
    IDS_OPTIONS_PAGE_CUSTOMIZATIONS "Customizations"
    IDS_OPTIONS_PAGE_CONTEXT_MENUS "Context Menus"
    IDS_OPTIONS_PAGE_GLOW "Glow"
    IDS_OPTIONS_PAGE_GROUPS "Groups && Islands"
END

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ShellTabs.manifest"

